*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #495867;
}
#container{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #01161E;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    /*makes a little 3d-effect to the calculator*/
    box-shadow: 
    1px 1px 0px #010a0e,
    2px 2px 0px #010a0e,
    3px 3px 0px #010a0e,
    4px 4px 0px #010a0e,
    5px 5px 0px #010a0e,
    6px 6px 0px #010a0e,
    7px 7px 0px #010a0e,
    8px 8px 0px #010a0e;
}
#screen-box{
    width: 350px;
    height: 100px;
    align-items: center;
}
#screen-display{
    display: flex;
    color: #01161E;
    font-size: 50px;
    justify-content: right;
    background-color: #AEC3B0;
    border-radius: 10px;
    padding: 5px;
    height: 60px;
}
#buttons-container{
    justify-content: space-around;
}
.buttons{
    font-size: 30px;
    border-radius: 10px;
    color: #124559;
    background-color: #598392;
    border: none;
    margin: 5px;
    width: 80px;
    height: 80px;
}
.buttons:hover{
    background-color:#146281;
}
#last-button{
    width: 175px;
}
.operator-buttons{
  background-color: #e75c52;
}
.operator-buttons:hover{
    background-color: #c9483f;
}

